@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$bg-color: #060447;
$primary-color: #FFF38A;
$accent-color: #827B68;

body {
    background: $bg-color;
    color: $primary-color;
    font-family: 'Montserrat', sans-serif;
    padding: 150px 180px;
    max-height: 1024px;
    max-width: 1440px;
}

main {
    max-height: 720px;
    max-width: 1000px;
    margin: auto;
}

h2,h3,p {
    margin:0;
    padding:0;
}

h2 {
    font-weight: 700;
    font-size: 16rem;
    transform: translate(0,50px);
}

h3 {
    margin: 1rem 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    max-width: 510px;
}

p {
    font-size: 20px;
    line-height: 30px;
    max-width: 470px;
}

ul {
    list-style-type: none;
    display: flex;
    width: 85%;
    margin-left: auto;
}

li {
    height: 36px;
    flex: 1;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background: $accent-color;
        right:0;
    }

    &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: $accent-color;
        top:50%;
    }

    &:first-child::before {
        height: 0;
    }

    .line {
        &::after {
           z-index: 1;
           content:"";
           position: absolute;
           height: 32px;
           width: 32px;
           border-radius: 50%;
           background: $primary-color;
           right: 2px;
           top: 2px;
           opacity: 0;
           transition: opacity;
           transition-delay: 100ms;
        }
    
        &::before {
           z-index: 1;
           content: "";
           position: absolute;
           height: 2px;
           width: 100%;
           background: $primary-color;
           top: 50%;
           right: 4px;
           transform: scaleX(0);
           transform-origin: left;
           transition: transform 300ms ease-in-out;
        }



    }

    #line1 {
        &::before {
            height: 0;
            width: 0;
        }
    }
}

.display {
    .line {
        &::after {
           opacity: 1;
        }
    
        &::before {
           transform: scaleX(1);
        }
    }
}


.top {
    display: flex;
    position: relative;
}

.block1 {
    position: absolute;
}

.block2 {
    opacity: 0;
    position: absolute;
    left: 10%;
}

.block3 {
    opacity: 0;
    position: absolute;
    left: 20%;

    .movie-description {
        max-width:1000px;
    }
}




.left {
    flex:3;
    display: flex;
    flex-direction: column;
}

.movie-year {
    margin-top: auto;
}

.right {
    flex: 2;
    overflow: hidden;

    .image-blocks {
        position: relative;
        height: 600px;
        left:0;

    }

    .film-image-block-1 {
        position: absolute;
        z-index: 1;
    }
    .film-image-block-2 {
        position: absolute;
        z-index:2;
        left: 100%;
    }
    .film-image-block-3 {
        position: absolute;
        z-index: 3;
        left:200%;
    }


    img {
        width:100%;
        height:100%;
        max-height: 600px;
        aspect-ratio: 2/3;
    }

    .img1 {
        //display: none;
        transform: scale(1.3) translateY(11%);
    }

    .img2 {
        //display: none;
        transform: scale(1.8) translateY(15%);
    }
    
    .img3 {
        //display: none;
        transform: scale(1.6) translateY(11%);
    }
}






.arrow-left {
    transform: scaleX(-1);
}

.bottom {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-left {
    width: 15%;
    display: flex;
    justify-content: space-around;

    svg {
        cursor: pointer;
    }
}

.unclickable-arrow {
    pointer-events: none;

    path {
        fill: $accent-color;
    }
}

.movie-icon img {
    margin-right: 2rem;
}